image_repository = "workhub-app"
image_tag        = "local"

# export TF_VAR_database_username=postgres
# export TF_VAR_database_password=...
# export TF_VAR_jwt_secret=...
# export TF_VAR_rabbitmq_username=workhub
# export TF_VAR_rabbitmq_password=...
